*.ali
*.exe
*.o
*.pyc
*.so
*~
.build
.gpsrcs
demos/web_block_ajax_templates/code.ada
demos/web_block_ajax_templates/wblocks*
docs/build
docs/source/confvars.py
docs/style-guide.html
docs/style-guide.info
docs/style-guide.pdf
docs/style-guide.txt
gps/aws_api.xml
gps/gen_gps_ref
makefile.setup
regtests/*.log
regtests/*.res
regtests/.outputs
regtests/config.py
regtests/out
regtests/testsuite.duration*
regtests/testsuite.tags
testsuite.rep
testsuite.res_last
