*.ali
*.exe
*.o
*.pyc
*.so
*~
.build
.gpsrcs
docs/*.ad[sb].texi
docs/ada.sed
docs/aws.html
docs/aws.info*
docs/aws.pdf
docs/aws.sed
docs/aws.texi
docs/aws.txt
docs/build
docs/genout
docs/style-guide.html
docs/style-guide.info
docs/style-guide.pdf
docs/style-guide.txt
gps/aws_api.xml
gps/gen_gps_ref
makefile.setup
regtests/*.log
regtests/*.res
regtests/.outputs
regtests/config.py
regtests/testsuite.duration*
regtests/testsuite.tags
templates_parser
testsuite.rep
testsuite.res_last
workspace/*
