*.ali
*.exe
*.o
*.pyc
*.so
*~
.build
.gpsrcs
demos/hello_demo-client.adb
demos/hello_demo-client.ads
demos/hello_demo-server.adb
demos/hello_demo-server.ads
demos/hello_demo-types.ads
demos/hello_demo.ads
demos/interoplab-client.adb
demos/interoplab-client.ads
demos/interoplab-types.ads
demos/interoplab.ads
demos/rdemo-adains_png.ads
demos/rdemo-page3_html.ads
demos/rdemo.adb
demos/rdemo.ads
demos/soapinterop-org-xsd-arrayoffloat_type_pkg.ads
demos/soapinterop-org-xsd-arrayofint_type_pkg.ads
demos/soapinterop-org-xsd-arrayofsoapstruct_type_pkg.ads
demos/soapinterop-org-xsd-arrayofstring_type_pkg.ads
demos/soapinterop-org-xsd-soapstruct_type_pkg.adb
demos/soapinterop-org-xsd-soapstruct_type_pkg.ads
demos/soapinterop-org-xsd.ads
demos/soapinterop-org.ads
demos/soapinterop.ads
docs/*.ad[sb].texi
docs/ada.sed
docs/aws.html
docs/aws.info*
docs/aws.pdf
docs/aws.ps
docs/aws.sed
docs/aws.texi
docs/aws.txt
docs/build
docs/genout
docs/style-guide.html
docs/style-guide.info
docs/style-guide.pdf
docs/style-guide.ps
docs/style-guide.txt
gps/aws_api.xml
gps/gen_gps_ref
lib/*.a
lib/*.coff
lib/*.dll
lib/.gpssnprj
makefile.setup
regtests/*.log
regtests/*.res
regtests/.outputs
regtests/config.py
regtests/rlimit*
regtests/testsuite.duration*
regtests/testsuite.tags
src/aws-os_lib.ads
src/aws-translator-conversion.adb
ssl/aws_ssl_shared.gpr
ssl/install_aws_ssl_shared.gpr
templates_parser
testsuite.rep
testsuite.res_last
tools/ada2wsdl-options.adb
workspace/*
